table
    width: 80%
    border-collapse: separate
    border-spacing: .2rem
    background-color: white
    border-radius: 10px

th
   background-color: #f5f5f5
   

td:first-child
    width: 120px
    background-color: #f5f5f5
    font-size: .9rem
    font-weight: 600
    box-shadow: none

td
    padding: .5vw 
    border-radius: 10px
    background-color: #f9f9f9
    
   
.table-container
    width: 100%
    display: flex
    justify-content: center

.table-data-child
    margin: 0 auto
    text-align: center
    max-width: 140px
    font-size: .9rem
    
.ct
    margin: 0 auto
    max-width: 140px


/*Menu--------*/

.schedule-menu
    display: flex
    justify-content: space-around
    width: 100%

    &__container
        display: flex
        width: 18%
        justify-content: space-around
        align-items: center
        background-color: grey
        border-radius: 10px
    

/*Switch-button---------*/
.switch 
    position: relative
    display: inline-block
    width: 50px
    height: 25px

.switch input 
    opacity: 0
    width: 0
    height: 0


.slider 
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    -webkit-transition: .4s
    transition: .4s


.slider:before 
    position: absolute
    content: ""
    height: 18px
    width: 18px
    left: 4px
    bottom: 4px
    background-color: white
    -webkit-transition: .4s
    transition: .4s


input:checked + .slider 
    background-color: #2196F3


input:focus + .slider 
    box-shadow: 0 0 1px #2196F3


input:checked + .slider:before 
    -webkit-transform: translateX(25px)
    -ms-transform: translateX(25px)
    transform: translateX(25px)


/* Rounded sliders */
.slider.round 
    border-radius: 50px


.slider.round:before 
    border-radius: 50%


/*shedule highlight colors*/

.crosstraining-td
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.6)
    background-color: #4ae09f
    

.openbox-td
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.6)
    background-color: #bff952
    
.crosstraining-splt-td
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.6)
    background: linear-gradient(180deg, #4ae09f 50%, #f9f9f9 50%)

.jjk-splt-td
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.6)
    background: linear-gradient(180deg, #f9f9f9 50%, #f7e845 50%)

.jj-splt-td
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.6)
    background: linear-gradient(180deg, #f9f9f9 50%, #4577f6 50%)

.ctk-splt-td
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.6)
    background: linear-gradient(180deg, #f9f9f9 50%, #fc4545 50%)


