$turquoise: #52f9b1
$dustwhite: #f5f5f5
$cte-blue: #0049ff
$cte-red: #fc4646

.contact-container
    margin: 0
    padding: 0
    width: 100%

.contact-title
     width: 100%
     background-color: #4577f6

.contact-content
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: 3rem

    &--left-size
        display: flex
        justify-content: center
        width: 50%
        
    &--right-size
        display: flex
        justify-content: center
        align-items: flex-start
        min-width: 50%
       

.title-wrap
    padding: .5rem 0 .5rem 0
    border-left: 6px solid $dustwhite
    background-color: #444040
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

.title-h2
    padding-left: 1rem
    font-weight: 600
    font-size: 2rem
    color: $dustwhite

.title-p
    padding-left: 1rem
    font-size: 1.2rem
    color: $dustwhite

.form-container
    width: 80%

.contact-form
    display: flex
    flex-direction: column
    margin-top: 3rem
    width: 100%

.input-field, .textarea
    padding: .4rem .7rem 
    margin: .5rem
    background-color: #fcfbf8
    border: none
    border: 1px solid $cte-blue
    border-radius: 5px
    font-size: 1rem
    

.bttn-wrap
    width: 100%
    display: flex
    justify-content: space-between

.contact-button
    width: 80px
    height: 30px
    margin: .5rem .5rem 0 0
    border: none
    border-radius: 5px
    background-color: $turquoise
    color: #0632a3
    font-size: 1rem
    font-weight: 600

.contact-button:hover
    background-color: #4ae09f
    
::placeholder
    color: #918a8a
    font-size: 1.2rem
    opacity: 1

.sended-mssg-container
    display: flex
    flex-direction: column
    align-items: center

.contact-sent-wrap
    display: flex
    flex-direction: column
    width: 40%
    min-width: 400px

    &--first
        padding: .7rem
        margin: 0
        font-weight: 600
        font-size: 2rem
        border: 2px solid $turquoise
        border-radius: 10px
        color: $turquoise
    
    &--second
        font-size: 1.2rem
        padding: .5rem .5rem 0 .5rem
        color: $dustwhite
        background-color: #444040
        border-radius: 10px

.sentBackBttn-container
    display: flex
    justify-content: center
    align-items: center
    width: 40%
    height: 40px
    margin: .5rem 

.sentBackBttn
    width: 80px
    padding: .5rem
    color: $dustwhite
    font-weight: 600
    cursor: pointer
    background-color: #444040
    border-radius: 10px

.sentBackBttn:hover
    border: 2px solid $turquoise
    color: $turquoise
    


//Loading-----Bars
.contact-message-wrap
    width: auto
    padding: 0 1rem
    border-radius: 10px
    height: 25%
    background-color: #444040

.contact-mssg-p
    font-size: 1.2rem
    font-weight: 600
    color: $dustwhite

@keyframes ldio-8wnefg9gpr5
    0%  
        opacity: 1 
    25%
        opacity: .5
    50%  
        opacity: .1
    75%
        opacity: .5 
    100%  
        opacity: 1 

.ldio-8wnefg9gpr5 div 
    width: 50px
    height: 50px
    animation: ldio-8wnefg9gpr5 1s cubic-bezier(0.5,0,0.5,1) infinite

.ldio-8wnefg9gpr5 .ldio-first-bar 
    color: $turquoise
    animation-delay: -0.6s

.ldio-8wnefg9gpr5 .ldio-second-bar 
    color: $turquoise
    animation-delay: -0.4s

.ldio-8wnefg9gpr5 .ldio-third-bar 
    color: $turquoise
    animation-delay: -0.2s

.ldio-8wnefg9gpr5 .ldio-fourth-bar 
    color: $turquoise
    animation-delay: -1s

.loadingio-spinner-bars-gxjsvz4su5i 
    width: 100%
    height: 200px
    
.ldio-8wnefg9gpr5
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    font-size: 3rem
    transform: translateZ(0) scale(1)
    backface-visibility: hidden
    transform-origin: 0 0


//---------Error Message-------------

.error-container
    width: 55%
    padding: 1rem
    border: 2px solid #f24141
    border-radius: 10px
    font-size: 1.5rem
    line-height: .8
    color: #444040
    background-color: #fcfbf8

.errorBackBttn
    color: $cte-blue
    cursor: pointer

.errorBackBttn:hover
    font-weight: 600 


//---download-link

.download-container
    text-align: center

    &__text-wrap
        padding: .5rem 1rem 
        border-radius: 10px
        background-color: #fcfbf8
        border: 3px solid $cte-blue

        &--text1
            margin: 0
            padding: .8rem
            color: $cte-blue 
            border-radius: 10px
            border: 2px solid $cte-blue
            font-size: 1.5rem
            font-weight: 600


.emoji-finger-down
    padding: 0 .5rem    
    
.download-bttn
    padding: .5rem
    background-color: $cte-blue
    color: white
    border: 2px solid $cte-blue
    border-radius: 10px
    transition: .2s ease

.download-bttn:hover
    background-color: #fcfbf8
    color: $cte-blue
    

.download-bttn:active
    border: 1px solid $cte-blue
    

.error-message
    padding: .2rem .5rem
    color: $cte-red
    border: 1px solid $cte-red
    background-color: white
    border-radius: 5px
    font-weight: 600

@media (max-width: 830px)
    .form-container
        width: 100%

    .contact-content
        &--left-size
            width: 80%
        
        &--right-size
            margin-top: 2rem
            border-top: 2px dashed $cte-blue
            width: 80%

    .error-container
        width: 80%
    
    .contact-sent-wrap
        width: 80%
    
    .download-container
        margin-top: 2rem