.header 
    margin-top: 65px
    display: flex
    justify-content: center
    height: 100vh
    background-image: url('../../images/header-bckground.jpg')
    background-size: cover

.header-img
    margin-top: 30px
    width: 500px

.stripe
    height: 135px