$cte-font: 'Montserrat', sans-serif
$cte-red: #ff0101

.Navbar 
    display: flex
    position: fixed
    justify-content: space-between
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    top: 0
    left: 0
    right: 0
    padding: 0.5rem 0
    background-color: #f5f5f5
    z-index: 99
    font-family: $cte-font
    border-bottom: 1px solid #e5e0e0
    &___brand-name
        color: #020202
        display: flex
        align-items: center
        text-decoration: none
        width: 20vw
        display: flex
        flex-direction: row
    
    &__list
        margin-right: 3rem
    
       
.menu
    margin: 0 1rem

.acronym
    border: 2px solid 
    border-radius: 3px
    padding: 0.125rem 0.3125rem
    margin: 0.4rem 1rem 0.4rem 2rem
    font-weight: 900


.brand1
    padding-right: 0.2rem
    font-weight: 800
    

.brand2
    font-weight: 600


.Navbar__brand:hover 
    color: #020202
    
