=bckImage($property)
    width: 100%
    height: 100%
    background-image: url("../../images/" + $property + ".jpg")
    background-size: cover
    border-radius: 5px
    -webkit-box-shadow: 7px 7px 7px -5px rgba(0,0,0,0.5)
    -moz-box-shadow: 7px 7px 7px -5px rgba(0,0,0,0.5)
    box-shadow: 7px 7px 7px -5px rgba(0,0,0,0.6)

$red: #fc4545
$blue: #4577f6
$yellow: #fcd252
$green: #6bdc52


.stripe
    display: flex
    align-items: center
    flex-direction: column 
    height: 600px
    background-color: white
    background-image: url('../../images/stripe-white.png')
    background-size: 150%
    background-repeat: no-repeat
    background-position: 50% 100%

.stripe-anim
    display: flex
    align-items: center
    width: 20%
    height: 200px

.stripe-text
    text-align: center
    font-size: 3rem
    font-weight: bold
    font-family: 'IM Fell English', serif;
    

    &_translation
        font-size: 1.5rem
            
.stripe-badge
    display: flex
    justify-content: space-around
    margin-top: 3rem

.cont
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    
    

.cont0
    +bckImage("stripeImg1")

.cont1
    +bckImage("stripeImg4")

.cont2
    +bckImage("stripeImg3")

.cont3
    +bckImage("stripeImg2")



.stripeText
    color: white
    margin: 1vw
    padding: 1vw
    font-size: 1.5rem
    border: 3px solid white

    &___box1
        font-weight: 600

    &___box2
        font-weight: 600

    &___box3
        font-weight: 600

    &___box4
        font-weight: 600
    



@media (max-width: 1540px)
    .stripeText
        font-size: 1.3rem

@media (max-width: 900px)
    .stripeText
        font-size: 1.1rem