$cte-red: #ff0101

%flex-spacebtw-center
    display: flex
    justify-content: space-between
    align-items: center

.navbar-wrapper
    height: 100%

.Navbar 
    @extend %flex-spacebtw-center
    position: fixed
    flex-direction: row
    width: 100%
    padding: 0.5rem 0
    background-color: #ffffff
    -webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.50)
    -moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.50)
    box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.50)
    z-index: 99999


.navbar-container
    @extend %flex-spacebtw-center
    width: 90vw    
    height: 49px
       
    &___brand-name
        color: #020202
        display: flex
        align-items: center
        text-decoration: none
        width: 30%

    &__list
        display: flex
        justify-content: flex-end
        width: 60%
        
.nav-list
    display: flex
    justify-content: flex-end
    width: 100%

.link-container
    display: flex
    justify-content: center
    align-items: center
    height: 2.5rem
    margin: 0 .5rem
    width: 20%


.link-container:hover
    color: #0049ff 
    font-weight: 600
    cursor: pointer

.acronym
    border: 2px solid 
    border-radius: 3px
    padding: 0.125rem 0.3125rem
    margin: 0.4rem 1rem 0.4rem 2rem
    font-weight: 900

.brand1
    padding-right: 0.2rem
    font-weight: 800
    
.brand2
    font-weight: 600

.Navbar__brand:hover 
    color: #020202

@media (max-width: 931px) 
    .Navbar
        font-size: .8rem

    
.lang-wrapper
    position: fixed
    width: 100%
    height: 40px
    transform: translateY(4rem) 
    z-index: 99998   

.langMenu
    display: flex
    justify-content: flex-end
    padding: 0 1rem
    font-size: 1.2rem
    font-weight: 700
    background-color: #e5e0e0
    

    &__lang
        margin: 0
        padding: 0 0.5rem
        color: #444040

.button-lang
    margin-right: 2rem
    border-radius: 5px 5px 0 0
    color: #444040
    font-size: 0.8rem
    font-weight: 600


.button-lang:hover
    color: #00ca6a

@media (max-width: 950px)
    .lang-wrapper
        transform: translateY(3.9rem)
  


////mobile----------------------------------------



