

.contact-background
    background: linear-gradient(90deg, #444040  50%,  rgba(255, 255, 255, 0) 50%)

//#fcd252

.container-who, .container-what, .container-schedule,.container-price, .container-contact
    height: auto
    width: 100%
    margin-bottom: 2rem    
    
.animated
    height: auto

    

