%container-light
    width: 100%    
    min-height: 100vh
    
%container-dark
    width: 100vw
    min-height: 100vh
    
    
.who-background
    background: linear-gradient(135deg, #ffffff 50%,#4577f6 50%)

.what-background
    background: linear-gradient(135deg, #52f9b1 50%,#ffffff 50%)


    
.container-who 
    @extend %container-light
    background-image: url('../images/coaches.png')
    background-size: 100%
    background-position: 0 100%
    background-repeat: no-repeat


.container-what
    @extend %container-dark

.container-schedule
    @extend %container-light

.container-contact
    @extend %container-dark
    

.animated
    height: 100%
    

