.footer-container
    width: 100vw
    height: 200px
    background-color: #444040

.footer-name
    padding: 2rem
    margin: 0
    font-size: 4rem
    color: #f5f5f5

    &--brand1
        font-weight: 700
        padding: 0 .5rem 0 .8rem
        border-left: .5rem solid #f5f5f5

    &--brand2
        font-weight: 500
    
.media
    font-size: 3rem
    color: #f5f5f5

