.who-wrapper
     display: flex
     justify-content: flex-start
     padding: 1rem 0 0 4rem
     width: 100%
        

.who-description-wrapper
     display: flex
     flex-direction: column
     width: 60%

.who-description
     width: 78%
     height: 65%
     text-align: justify
     font-size: 1.3rem
     background-color: rgba(255, 255, 255, 0.5)
     border-bottom-right-radius: 200px
     
.right
    width: 40%
    height: 40ex
    float: right
    shape-outside: polygon(100% 0, 0 100%, 100% 100%)





    

