%who-shadow-outter
     -webkit-box-shadow: 7px 7px 7px -5px rgba(0,0,0,0.2)
     -moz-box-shadow: 7px 7px 7px -5px rgba(0,0,0,0.2)
     box-shadow: 7px 7px 7px -5px rgba(0,0,0,0.2)
     
.who-title
     width: 100%
     text-align: right
     background-color: #4577f6

.who-container-content
     display: flex
     flex-direction: column
     width: 100%

.who-wrapp
     display: flex
     align-items: center
     flex-direction: column
     width: 100%

     &__anim
          display: flex
          justify-content: center


.divisor-background
     display: flex
     justify-content: center
     background-color: #f9f9f9
     width: 90%
     margin: 2vw 0
     border-radius: 5px
     -webkit-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.1)
     -moz-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.1)
     box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.1)
     
.back-border-img-left
     border-left: 5px solid #fc4646
     background-image: url('../../images/bckImageLarrosa1.png')
     background-size: cover
     background-position-y: -500px
   
.back-border-img-right
     border-right: 5px solid #fc4646
     background-image: url('../../images/bckImageDevesa1.png')
     background-size: cover
     background-position-y: -300px
    
.divisor-wave1
     width: 100%
     background-image: url(../../images/wave1.svg)
     background-size: cover 
     background-repeat: no-repeat
     background-position-x: -500px
     

.divisor-wave2
     width: 100%
     background-image: url(../../images/wave.svg)
     background-size: cover
     background-repeat: no-repeat
     background-position-x: -700px

     
.who-divisor
     display: flex
     justify-content: center
     flex-direction: row
     flex-wrap: wrap
     padding: 1.5rem
     width: 90%

     &__coach-container
          display: flex
          justify-content: center
          width: 50%
         
     
     &__coach
          @extend %who-shadow-outter
          display: flex
          flex-direction: column
          background-color: white
          width: 50%
          padding: .5vw
          border-radius: 5px
          border-bottom: 1rem solid #0049ff
          min-width: 200px


          &--image
               width: 100%
               border-radius: 5px
               border-bottom: .5rem solid #f24141
               object-fit: cover
                          

     &__coach-description-container
          width: 100%
          max-height: 500px
          text-align: center

          &--line
               margin: .4rem 0 1rem 0
               width: 100%
               height: 3px
               border-top: 1.5px solid #dee2e2

          &--textBig
               padding: 0  0 .5vw 0
               font-size: 1.1rem
               font-weight: 600
               color: #0049ff

          &--textSmall
               padding: 0 1vw
               font-weight: 400
               

     &__paragraph
          width: 50%
          display: flex
          flex-direction: column
          justify-content: center

          &--size
               font-size: 1.2rem
               letter-spacing: 1.2px
               line-height: 1.6
          
          &--size-par3
               font-size: 2rem
               padding-left: 1rem
               letter-spacing: 1.2px
               line-height: 1.2
               border-left: 7px solid #fc4646

.par12
    
               
.par3
     display: flex
     align-items: center

   
@media (min-width: 1540px)
     .divisor-background
          width: 70vw
     
     .who-divisor__paragraph--size
          font-size: 1.4rem

@media (max-width: 900px)
     .divisor-background
          width: 90vw







    

