%coach
     width: 45%
     transition: .5s ease
     background-color: rgba(255, 255, 255, 0.6)
     border-radius: 50%
     
     
.who-title
     font-size: 2rem
     font-weight: 700
     color: white

.who-container
     margin: 1rem 2rem

     &___article-intro
          margin: 0 3rem 1rem
          padding: 0.3rem 2rem
          border-radius: 5px
          font-size: 1.2rem
          text-align: justify

                     

.pictures-container
     display: flex
     width: 100%

.pic-wrapper
     margin-top: 1rem
     width: 100%

.who-pictures
     position: relative
     display: flex
     justify-content: center


.overlay 
     display: flex
     align-items: flex-end
     position: absolute
     height: 100%
     border-radius: 50%
     opacity: 0
     transition: 0.5s ease
     
.text-pic
     font-size: 1.5rem
     font-weight: 700
     color: #f5f5f5

.coach1-pic
     @extend %coach

.who-pictures:hover .coach1-pic 
     width: 50%

.who-pictures:hover .overlay
     opacity: 1

.coach2-pic
     width: 45%
     transition: .5s ease
     background-color: rgba(255, 255, 255, 0.6)
     border-radius: 50%


.who-pictures:hover .coach2-pic 
     width: 50%
     




     

